language: node_js
node_js:
    - "0.11"
before_script:
    - npm install -g bower
    - bower install
after_script:
    - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
sudo: false
