<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <nav>
        <ul>
            <% for(var i=0; i < pages.length; i++) { %>
            <li>
                <a href="/pages/<%= pages[i].slug %>"><%= pages[i].title %></a>
            </li>
            <% } %>
        </ul>
    </nav>

    <div id="content">
        <% for(var i=0; i < posts.length; i++) { %>
        <li>
        <a href="/posts/<%= posts[i].slug %>"><%= posts[i].title %></a>
        </li>
        <% } %>
    </div>
</body>
</html>
