<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
</head>
<body>
    <a href="/"><img src="/images/popstar-thumb.png"></a>
    <nav>
        <%= title %>
    </nav>

    <div id="content">
        <%= content %>
    </div>
</body>
</html>
